@CHARSET "UTF-8";

.leftSearch {
	float: right;
	margin-top: 15px;
}

.leftText {
	display: inline-block;
	height: 300px;
	width: 300px;
	float: right;
	font-style: inherit;
	margin-top: 100px;
	margin-right: 200px;
	text-align: justify;
}

.center-menu {
	margin-left: 10px;
}

.loginViewText {
	margin-left: auto;
	margin-right: 14px;
	margin-top: 9px;
	float: right;
}

.loginViewText label {
	color: white;
	display: inline;
	margin-right: 18px;
}

.loginView {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 9px;
	float: center;
}

.RegisterView {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 9px;
	float: center;
}

.footer {
	margin: auto;
	color: white;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 7px;
}

.update {
	margin-left: 20%;
	margin-right: 20%;
}

#txtHint {
	scroll: auto;
	overflow: auto;
	height: 600px !important;
	width: auto;
	margin-left: 150px;
	margin-right: 150px;
}

label.error {
	padding-left: 5px;
	color: red;
	font-weight: bold;
	display: inline;
}